backup/FlightService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://flight.webservices.cs.nju.edu.cn" xmlns:ax213="http://xsd.webservices.cs.nju.edu.cn/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://flight.webservices.cs.nju.edu.cn">
    <wsdl:documentation>FlightService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xsd.webservices.cs.nju.edu.cn/xsd">
            <xs:complexType name="FlightList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="children" nillable="true" type="ax213:FlightInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FlightInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="airline" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalAirport" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="arrivalTime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="deloyTime" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="departure" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="departureAirport" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="departureTime" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="flightId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="punctuality" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://xsd.webservices.cs.nju.edu.cn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://flight.webservices.cs.nju.edu.cn">
            <xs:import namespace="http://xsd.webservices.cs.nju.edu.cn/xsd"/>
            <xs:element name="log">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flights" nillable="true" type="ax214:FlightList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="departure" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:FlightList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="selectFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flights" nillable="true" type="ax214:FlightList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="selectFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:FlightInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flight" nillable="true" type="ax214:FlightInfo"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="selectFlightRequest">
        <wsdl:part name="parameters" element="ns:selectFlight"/>
    </wsdl:message>
    <wsdl:message name="selectFlightResponse">
        <wsdl:part name="parameters" element="ns:selectFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="bookFlightRequest">
        <wsdl:part name="parameters" element="ns:bookFlight"/>
    </wsdl:message>
    <wsdl:message name="bookFlightResponse">
        <wsdl:part name="parameters" element="ns:bookFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="searchFlightRequest">
        <wsdl:part name="parameters" element="ns:searchFlight"/>
    </wsdl:message>
    <wsdl:message name="searchFlightResponse">
        <wsdl:part name="parameters" element="ns:searchFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="logRequest">
        <wsdl:part name="parameters" element="ns:log"/>
    </wsdl:message>
    <wsdl:message name="logResponse">
        <wsdl:part name="parameters" element="ns:logResponse"/>
    </wsdl:message>
    <wsdl:portType name="FlightServicePortType">
        <wsdl:operation name="selectFlight">
            <wsdl:input message="ns:selectFlightRequest" wsaw:Action="urn:selectFlight"/>
            <wsdl:output message="ns:selectFlightResponse" wsaw:Action="urn:selectFlightResponse"/>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <wsdl:input message="ns:bookFlightRequest" wsaw:Action="urn:bookFlight"/>
            <wsdl:output message="ns:bookFlightResponse" wsaw:Action="urn:bookFlightResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchFlight">
            <wsdl:input message="ns:searchFlightRequest" wsaw:Action="urn:searchFlight"/>
            <wsdl:output message="ns:searchFlightResponse" wsaw:Action="urn:searchFlightResponse"/>
        </wsdl:operation>
        <wsdl:operation name="log">
            <wsdl:input message="ns:logRequest" wsaw:Action="urn:log"/>
            <wsdl:output message="ns:logResponse" wsaw:Action="urn:logResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FlightServiceSoap11Binding" type="ns:FlightServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="selectFlight">
            <soap:operation soapAction="urn:selectFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <soap:operation soapAction="urn:bookFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchFlight">
            <soap:operation soapAction="urn:searchFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="log">
            <soap:operation soapAction="urn:log" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FlightServiceSoap12Binding" type="ns:FlightServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="selectFlight">
            <soap12:operation soapAction="urn:selectFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <soap12:operation soapAction="urn:bookFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchFlight">
            <soap12:operation soapAction="urn:searchFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="log">
            <soap12:operation soapAction="urn:log" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FlightServiceHttpBinding" type="ns:FlightServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="selectFlight">
            <http:operation location="selectFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <http:operation location="bookFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchFlight">
            <http:operation location="searchFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="log">
            <http:operation location="log"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FlightService">
        <wsdl:port name="FlightServiceHttpSoap11Endpoint" binding="ns:FlightServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/FlightService.FlightServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FlightServiceHttpSoap12Endpoint" binding="ns:FlightServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/FlightService.FlightServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FlightServiceHttpEndpoint" binding="ns:FlightServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/FlightService.FlightServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
